div:focus, div:active, span:focus, span:active, img:focus, img:active {
    outline: none;
    -webkit-tap-highlight-color:  rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

@font-face {
    font-family: 'DK';
    src: url('fonts/DKZealand.otf');
}
@font-face {
    font-family: 'pix';
    src: url('fonts/PictureThis.ttf');
}

body {
    position: absolute;
	top: 0;
	margin: 0;
    width: 768px;
	height: 1004px;
    user-drag: none;
    user-select: none;
	overflow:hidden;
    /*cursor:none;*/
	
}

#video_bg {
	position:absolute;
    top:0;
    bottom:0;
	width: 100%;
	height: 100%;
	overflow:hidden;
	object-fit: cover;
}

.photo_bg {
    position:fixed;
    top:0;
    bottom: 0;
	margin: 0;
    width:100%;
    background:black;
    opacity:0.7;
    z-index:20;
}

#welcome {
	position:fixed;
    top:0;
    bottom: 0;
 	margin: auto;
	text-align: center;
	z-index:21;
}

#logo1 {
	position: absolute;
	text-align: center;
	top: 175px;
	z-index:21;
}

#start {
	position: absolute;
	text-align: center;
	bottom: 0px;
	z-index:21;
}

#start-bg {
	position: absolute;
	bottom: 0px;
	z-index:21;
}

.counter {
	position: absolute;
	width: 768px;
	top: 0px;
	margin-top: 50px;
	text-align: center;
	font-size:750px;
	color: white;
	opacity:0.8;
	z-index:22;
    transition: linear 0.2s;
	transition-delay: 0.1s;
}

.counter.ng-hide {
    font-size: 400px;
	opacity: 0;
	margin-top: 300px;
	transition: linear 0s;
}

.photo {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity:0.8
	z-index:25;
	transition: linear 0.13s;
}

.photo.ng-hide {
	opacity: 0.5;
	transition: linear 0.05s;
}

.photo-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index:26;
	transition: linear 0.2s;
}
.photo-bg.ng-hide {
	opacity: 0.4;
	transition: linear 0;
}
.photor {
	position: absolute;
	margin: 25px auto;
	text-align: center;
	width: 100%;
	height: 100%;
	z-index:27;
	transition: linear 0.2s;
}

.photor.ng-hide {
	opacity: 0.3;
	transition: linear 0;
}

#fifo_title {
	position: relative;
	color: orange;
	font-family: Arial;
	font-size: 75px;
	z-index:21;
}

#fifo {
	position: relative;
	color: orange;
	font-family: dk;
	font-weight: 100;
	font-size: 125px;
	z-index:21;
}

#cancel_btn {
    position: absolute;
    width: 75px;
    height: 75px;
    text-align: left;
    margin-top: 0px;
    margin-right: 700px;
}

#credit {
    position: absolute;
    margin-top: 40px;
    margin-right: 268px;
    font-size: 38px;
    color: white;
}

.pod_btn {
    margin-top: 200px;
    display: inline-block;
}

.pod
{
    padding-top: 30px;
    height: 230px;
}

.pod_info
{
    margin-right: 20px;
}
.pod_title
{
    font-family: "Anka CLM";
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 8px;
}

.pod_price
{
    font-family: "Arial";
    font-weight: bold;
}

.pod_rank
{
    font-family: Arial;
    font-size: small;
}

.pod_rank_title
{
    font-size: 9px;
    font-weight: bold;
}

.pod_rankx
{
    width: 5px;
    height: 5px;
    background-color: black;
    margin-left: 2px;
    margin-right: 0px;
    margin-bottom: 1px;
    display: inline-block;
}

.pod_rankx.unrank
{
    opacity:0.5;
}