body {
    position: absolute;
    width: 393px;
	height: 735px;
    user-drag: none;
    user-select: none;
	overflow:hidden;
    /*cursor:none;*/
	margin: 0;
	
}


div:focus, div:active, span:focus, span:active, img:focus, img:active {
    outline: none;
    -webkit-tap-highlight-color:  rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
}

#video_bg {
	
	width: 393px;
	height: 735px;
}

.photo_bg {
    position:fixed;
    top:0;
    bottom: 0;
    width:100%;
    background:black;
    opacity:0.7;
    z-index:20;
}

#logo1 {
	position:fixed;
    top:0;
    bottom: 0;
    width:393px;
	display: block;
 	margin-left: 20px;
	margin-top: 50px;
	z-index:21;
}

#cancel_btn {
    position: absolute;
    width: 75px;
    height: 75px;
    text-align: left;
    margin-top: 0px;
    margin-right: 700px;
}

#credit {
    position: absolute;
    margin-top: 40px;
    margin-right: 268px;
    font-size: 38px;
    color: white;
}

.pod_btn {
    margin-top: 200px;
    display: inline-block;
}

.pod
{
    padding-top: 30px;
    height: 230px;
}

.pod_info
{
    margin-right: 20px;
}
.pod_title
{
    font-family: "Anka CLM";
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 8px;
}

.pod_price
{
    font-family: "Arial";
    font-weight: bold;
}

.pod_rank
{
    font-family: Arial;
    font-size: small;
}

.pod_rank_title
{
    font-size: 9px;
    font-weight: bold;
}

.pod_rankx
{
    width: 5px;
    height: 5px;
    background-color: black;
    margin-left: 2px;
    margin-right: 0px;
    margin-bottom: 1px;
    display: inline-block;
}

.pod_rankx.unrank
{
    opacity:0.5;
}